#main{
    display: flex;
}
#SideBar {
    flex:1;
    border: 1px solid black;
}

#Table {
    flex: 2;
    border: 1px solid black;
}
td {
    border: 1px solid black;
    padding: 5px;
}

#userInput, #form, button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    /* background: #000; */
}

#message{
    color: red;
}