#main{
    display: flex;
}
#SideBar {
    flex:1;
    border: 1px solid black;
}

#Table {
    flex: 2;
    border: 1px solid black;
}
td {
    border: 1px solid black;
    padding: 15px;
}
.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}
button{
    /* margin: 9px; */
    height: 54px;
}